{{ form_start(form) }}
    {# {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button> #}

<div class="d-flex flex-wrap">
    <div class="col-lg-6 col-sm-12 px-5">
        {{ form_row(form.status) }} <br>
        {{ form_row(form.title) }} <br>
        {{ form_row(form.year) }} <br>
        {{ form_row(form.description) }}
        {{ form_row(form.price) }} <br>
    </div>
    <div class="col-lg-6 col-sm-12 px-5">
        {{ form_row(form.picture) }}
        {{ form_row(form.picture2) }}
        {{ form_row(form.picture3) }}
        {{ form_row(form.picture4) }}
        {{ form_row(form.picture5) }}
    </div>
</div>
<div class="text-center py-5">
    <button class="cart_button">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}

<script>
    tinymce.init({
        selector: 'textarea',
        menubar: true,
        plugins: 'code',
        plugins: 'lists',
        toolbar: 'numlist bullist'
    });
</script>
