{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}

{{ form_start(form) }}

<div class="d-flex flex-wrap">
    <div class="col-lg-6 col-sm-12 px-5">
        {{ form_row(form.mark) }} <br>
        {{ form_row(form.season) }} <br>
        {{ form_row(form.width) }} <br>
        {{ form_row(form.height) }} <br>
        {{ form_row(form.diameter) }} <br>
        {{ form_row(form.new_used) }}
    </div>
    <div class="col-lg-6 col-sm-12 px-5">
        {{ form_row(form.description) }} <br>
        {{ form_row(form.stock) }} <br>
        {{ form_row(form.price) }} <br>
        {{ form_row(form.picture) }} <br>
        {{ form_row(form.picture2) }} <br>
        {{ form_row(form.picture3) }}
    </div>
</div>
<div class="text-center py-5">
    <button class="cart_button">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}

<script>
    tinymce.init({
        selector: 'textarea',
        menubar: true,
        plugins: 'code',
        plugins: 'lists',
        toolbar: 'numlist bullist'
    });
</script>