{% extends 'base.html.twig' %}

{% block title %}Edit Tire{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb" class="offset-2 col-10">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('app_admin') }}" title="Accueil ADMIN" class="link_black">
					Accueil ADMIN
				</a>
			</li>
            <li class="breadcrumb-item">
				<a href="{{ path('app_tire_index') }}" class="link_black">
					Liste de pneus
				</a>
			</li>
		</ol>
	</nav>
    <h1>Edit Tire</h1>

    {# {{ include('tire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tire_index') }}">back to list</a>

    {{ include('tire/_delete_form.html.twig') }} #}

    <img class="img-fluid pb-4" width="100px" src="/assets/images/TIRE/{{ tire.picture }}">
    <img class="img-fluid pb-4" width="100px" src="/assets/images/TIRE/{{ tire.picture2 }}">
    <img class="img-fluid pb-4" width="100px" src="/assets/images/TIRE/{{ tire.picture3 }}">

    {{ include('tire/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="container justify-content-between d-flex flex-wrap py-2">
        <a class="btn btn-secondary" href="{{ path('app_tire_index') }}">Retour</a>
        <form method="post" action="{{ path('app_tire_delete', {'id': tire.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tire.id) }}">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
{% endblock %}
